# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (raw large datasets)
data/raw/

# Models
models/

# OS files
.DS_Store
Thumbs.db
